label {
    width: 50%;
    padding-right: 10em;
    position: relative;
}
.inputField {
    width: 25%;
    position: relative;
}

.title {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

input[type=text], select {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 12px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-sizing: border-box;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    height: 90px;
    width: 60%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}