<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>Request An Interplanetary Delivery</h1>
<br>

<label class="title"><i class="material-icons">person</i>Sender</label>
<input type="text" id="senderID" name="senderName" placeholder="Sender">

<label class="title"><i class="material-icons">person</i>Receiver</label>
<input type="text" id="receiverID" name="receiverName" placeholder="Receiver">

<label class="title"><i class="material-icons">description</i>Description</label>
<textarea id="descriptionID" name="descriptionName" >Description</textarea>
<!--<input class="decriptionField" id="descriptionID" name="descriptionName" placeholder="Description">-->
