<div>
    <ul>
        <li><button id= "Home" routerLink="/home" routerLinkActive="active">Home</button></li>
        <li><button id= "Travel" routerLink="/travel" routerLinkActive="active">Travel</button></li>
        <li><button id= "Cargo" routerLink="/cargo" routerLinkActive="active">Cargo</button></li>
        <li><button id= "About Us" routerLink="/about" routerLinkActive="active">About Us</button></li>
        <li><button id= "Contact Us" routerLink="/contact" routerLinkActive="active">Contact Us</button></li>
        <li><img class = "logoImage" src="assets/Logo.png"></li>
    </ul>
</div>