<h1>Contact Us</h1>
<p>Select a contact method below</p>

<div class="pictureRowSettings">
    <div class="imageContainer">
      <img class = "contactImage purpleOverlay" src="assets/psionics.jpg">
      <div class="middle">
        <div class="contactMethod">Psionic Network</div>
      </div>
    </div>

    <div class="imageContainer">
      <img class = "contactImage purpleOverlay" src="assets/HyperwaveCommunication.jpg">
      <div class="middle">
        <p class="contactMethod">Hyperwave Communication</p>
      </div>
    </div>
</div>

<div class="pictureRowSettings">
    <div class="imageContainer">
      <img class = "contactImage purpleOverlay" src="assets/holographicProjection.jpg">
      <div class="middle">
        <div class="contactMethod">Holographic Call</div>
      </div>
    </div>

    <div class="imageContainer">
      <img class = "contactImage purpleOverlay" src="assets/brainComputerInterface.jpg">
      <div class="middle">
        <p class="contactMethod">Long Distance Neural Link</p>
      </div>
    </div>
</div>